@using Domain.Products
@model Domain.Factors.Factor

@{
    ViewData["Title"] = "Create";
    var ProductList = ViewBag.ProductList;
     ViewData["ProductList"] = ViewBag.ProductList;
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/factor/factor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/factor/table.css" asp-append-version="true" />
}
<form id="factorForm" method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row">
		<div class="col-12 p-3 col-md-10 offset-md-1 p-md-5 bg-light border border-2 rounded-3 shadow-lg">
			<legend>
				فاکتور جدید
			</legend>

			<hr />
            <div clas="row">
                <div class="col-md-12">
        		    <div class="mb-3">
				        <label asp-for="CustomerName" class="form-label"></label>
				        <input asp-for="CustomerName" class="form-control" />
				        <span asp-validation-for="CustomerName" class="text-danger"></span>
			        </div>
			        <div class="mb-3">
				        <label asp-for="Description" class="form-label"></label>
				        <textarea asp-for="Description" class="form-control"></textarea>
				        <span asp-validation-for="Description" class="text-danger"></span>
			        </div>
                </div>

                <div class="col-12 table-responsive border ps-0 pe-0" style="font-size:10px">
                    @*<table id="factorRowTable" class="table table-borderless table-sm mb-0 pb-0">*@
                    <table id="factorRowTable" class="table table-borderless table-sm table-hover mb-0">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">نام محصول</th>  
                                <th scope="col">تعداد</th>  
                                <th scope="col">قیمت واحد (بدون تخفیف)</th>  
                                <th scope="col">درصد تخفیف</th>  
                                <th scope="col">قیمت واحد (با تخفیف)</th>  
                                <th scope="col">سر جمع (بدون تخفیف)</th>  
                                <th scope="col">سر جمع (با تخفیف)</th>
                                <th scope="col">سود مشتری از تخفیف واحد</th>
                                <th scope="col">سود مشتری از تخفیف کل</th>
                                <th scope="col" style="width:60px;">
                                    <button id='btnAddDetailRow' type="button" class="btn btn-sm btn-primary visible">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @for(int i = 0; i < Model.FactorRows.Count; i++){
                                var factorRow = @Model.FactorRows[i];
                                var product = factorRow.Product;
                                <tr>
                                <td class="Product">
                                   @*@Html.DropDownListFor(x => x.FactorRows[i].ProductDesc, new SelectList(ViewBag.ProductList, "id", "value"), new {@class = "form-select form-select-sm selectProduct"})*@
                                    <select asp-for="@Model.FactorRows[i].ProductDesc" class="form-select-sm form-c selectProduct"
										    asp-items="ViewBag.ProductList">
                                    </select>
                                    <span asp-validation-for="@Model.FactorRows[i].ProductId" class="text-danger"></span>
                                    <input type="hidden" asp-for="@Model.FactorRows[i].Product.Id" class="ProductId"/>	
                                    <input type="hidden" asp-for="@Model.FactorRows[i].ProductId" class="ProductId"/>	
                                    <input type="hidden" asp-for="@Model.FactorRows[i].IsDeleted" class="IsDeleted"/>	
                                </td>
                                <td class="Quantity">
                                    @*@Html.EditorFor(x=>x.FactorRows[i].Quantity, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c Quantity calc"}})*@
                                    <input asp-for="@Model.FactorRows[i].Quantity"  class="form-control form-control-sm form-control-plaintext form-c Quantity calc" readonly/>
                                    <span asp-validation-for="@Model.FactorRows[i].Quantity" class="text-danger"></span>
                                </td>
                                <td class="UnitPrice">
                                    @*@Html.EditorFor(x=>x.FactorRows[i].Product.UnitPrice, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c UnitPrice"}})*@
                                    <input asp-for="@Model.FactorRows[i].Product.UnitPrice"  class="form-control form-control-sm form-control-plaintext form-c UnitPrice" readonly/>
                                </td>
                                <td class="Discount"> 
                                    @*@Html.EditorFor(x=>x.FactorRows[i].Discount, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c Discount calc"}})*@
                                    <input asp-for="@Model.FactorRows[i].Discount"  class="form-control form-control-sm form-control-plaintext form-c Discount calc" readonly/>
                                    <span asp-validation-for="@Model.FactorRows[i].Discount" class="text-danger"></span>
                                </td>
                                <td class="DiscountedUnitPrice">
                                    @*@Html.EditorFor(x=>x.FactorRows[i].DiscountedUnitPrice, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c DiscountedUnitPrice"}})*@
                                    <input asp-for="@Model.FactorRows[i].DiscountedUnitPrice"  class="form-control form-control-sm form-control-plaintext DiscountedUnitPrice form-c" readonly/>
                                    <span asp-validation-for="@Model.FactorRows[i].DiscountedUnitPrice" class="text-danger"></span>
                                </td>
                                <td class="RowPriceTotal">
                                    @*@Html.EditorFor(x=>x.FactorRows[i].Discount, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c RowPriceTotal"}})*@
                                    <input asp-for="@Model.FactorRows[i].RowPriceTotal"  class="form-control form-control-sm form-control-plaintext form-c RowPriceTotal" readonly/>
                                    <span asp-validation-for="@Model.FactorRows[i].RowPriceTotal" class="text-danger"></span>
                                </td>
                                <td class="DiscountedRowPriceTotal">
                                    @*@Html.EditorFor(x=>x.FactorRows[i].DiscountedRowPriceTotal, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c DiscountedRowPriceTotal"}})*@
                                    <input asp-for="@Model.FactorRows[i].DiscountedRowPriceTotal"  class="form-control form-control-sm form-control-plaintext DiscountedRowPriceTotal form-c" readonly/>
                                    <span asp-validation-for="@Model.FactorRows[i].DiscountedRowPriceTotal" class="text-danger"></span>
                                </td>
                                <td class="CustomerProfitUnitDiscount"> 
                                    @*@Html.EditorFor(x=>x.FactorRows[i].CustomerProfitUnitDiscount, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c CustomerProfitUnitDiscount"}})*@
                                    <input asp-for="@Model.FactorRows[i].CustomerProfitUnitDiscount"  class="form-control form-control-sm form-control-plaintext CustomerProfitUnitDiscount form-c" readonly/>
                                    <span asp-validation-for="@Model.FactorRows[i].CustomerProfitUnitDiscount" class="text-danger"></span>
                                </td>
                                <td class="CustomerProfitTotalDiscount">
                                    @*@Html.EditorFor(x=>x.FactorRows[i].CustomerProfitTotalDiscount, new{ htmlAttributes = new{@class="form-control form-control-sm form-control-plaintext form-c CustomerProfitTotalDiscount"}})*@
                                    <input asp-for="@Model.FactorRows[i].CustomerProfitTotalDiscount" class="form-control form-control-sm form-control-plaintext CustomerProfitTotalDiscount form-c" readonly/>
                                    <span asp-validation-for="@Model.FactorRows[i].CustomerProfitTotalDiscount" class="text-danger"></span>
                                </td>
                                <td style="width:60px;">
                                    <button id='btnremove-@i' type="button" class="btn btn-sm btn-danger visible btnremove">
                                       <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            }   
                        </tbody>

                        @*<tfoot class="table-primary">
				            <tr>
                                <th class="pt-0 pb-0" colspan="5">
                                    <label asp-for="TotalPrice" class="form-label"></label>
                                </th>
                                <th class="text-start pt-0 pb-0" colspan="5">
                                    <input asp-for="TotalPrice" class="form-control form-control-sm form-control-plaintext text-start form-c total TotalPrice" readonly disabled/>
                                    <span asp-validation-for="TotalPrice" class="text-danger"></span> 
                                </th>
                            </tr>
                            <tr>
                                <th class="pt-0 pb-0" colspan="5">
                                    <label asp-for="TotalDiscount" class="form-label"></label>
                                </th>
                                <th class="text-start pt-0 pb-0" colspan="5">
                                    <input asp-for="@Model.TotalDiscount" class="form-control form-control-sm form-control-plaintext text-start form-c total TotalDiscount" readonly disabled/>
                                    <span asp-validation-for="TotalDiscount" class="text-danger"></span> 
                                </th>
                            </tr>                               
                            <tr>
                                <th class="pt-0 pb-0" colspan="5">
                                    <label asp-for="Payable" class="form-label"></label>
                                </th>
                                <th class="text-start pt-0 pb-0" colspan="5">
                                    <input asp-for="@Model.Payable" class="form-control form-control-sm form-control-plaintext text-start form-c total Payable" readonly disabled/>
                                    <span asp-validation-for="Payable" class="text-danger"></span> 
                                </th>
                            </tr>                             
			            </tfoot>*@
                    </table>
                </div>
            </div>
			<button type="submit" class="btn btn-sm btn-primary">ایجاد</button>
        </div>
	</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("PartialViews/_ValidationScriptsPartial");}      
    <script src="~/js/factor/factor.js" asp-append-version="true"></script>
    <script src="~/js/factor/manageTable.js" asp-append-version="true"></script>
    <script src="~/js/factor/calculate.js" asp-append-version="true"></script>
    <script src="~/js/factor/calcTotal.js" asp-append-version="true"></script>
}
