@using Domain.Products
@model Domain.Factors.Factor

@{
    ViewData["Title"] = "جزئیات";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/factor/factor.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/factor/table.css" asp-append-version="true" />*@
}

<div class="row">
	<div class="col-12 p-3 col-md-12 p-md-5 bg-light border border-2 rounded-3 shadow-lg">
        <fieldset>
			<legend>
				جزئیات فاکتور
			</legend>
        </fieldset>
        <div class="col-12 table-responsive border ps-0 pe-0 text-center" style="font-size:14px; overflow-x:auto">
                <table id="factorRowTable" class="table table-bordered table-sm table-hover mb-0">
                    <thead class="table-primary">
                        <tr class="table-info">
                            <th class="text-start pt-0 pb-0 align-middle" colspan="8" rowspan="2">
                                @Html.DisplayNameFor(model => model.CustomerName): &nbsp;
                                @Html.DisplayFor(modelItem => @Model.CustomerName)
                            </th>
                            <th class="pt-0 pb-0">
                                @Html.DisplayNameFor(model => model.InsertDateTimeShamsi)
                            </th>
                            <th class="pt-0 pb-0">
                                 @Html.DisplayFor(modelItem => @Model.InsertDateTimeShamsi)
                            </th>
                        </tr>
                        <tr class="table-info">
                            <th class="pt-0 pb-0">
                                @Html.DisplayNameFor(model => model.FactorNo)
                            </th>
                            <th class="pt-0 pb-0">
                                @Html.DisplayFor(modelItem => @Model.FactorNo)
                            </th>
                        </tr>

                        <tr>
                            <th scope="col">#</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].Product.Name)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].Quantity)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].Product.UnitPrice)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].Discount)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].DiscountedUnitPrice)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].RowPriceTotal)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].DiscountedRowPriceTotal)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].CustomerProfitUnitDiscount)</th>  
                            <th scope="col">@Html.DisplayNameFor(model => model.FactorRows[0].CustomerProfitTotalDiscount)</th>  
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i = 0; i < Model.FactorRows.Count; i++){
                            var rowNumber = i + 1;
                        <tr>
                            <td>@(rowNumber)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].Product.Name)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].Product.UnitPrice)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].Discount)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].DiscountedUnitPrice)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].RowPriceTotal)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].DiscountedRowPriceTotal)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].CustomerProfitUnitDiscount)</td>
                            <td>@Html.DisplayFor(modelItem => @Model.FactorRows[i].CustomerProfitTotalDiscount)</td>
                        </tr>
                        }  
                    </tbody>

                    <tfoot class="table-primary table-borderless">
				        <tr class="table-success">
                            <th class="text-start pt-0 pb-0" colspan="8" rowspan="3">
                                @Html.DisplayNameFor(model => model.Description): &nbsp;
                                @Html.DisplayFor(modelItem => @Model.Description)
                            </th>
                            <th class="pt-0 pb-0">
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </th>
                            <th class="pt-0 pb-0">
                                 @Html.DisplayFor(modelItem => @Model.TotalPrice)
                            </th>
                        </tr>
                        <tr class="table-success">
                            <th class="pt-0 pb-0">
                                @Html.DisplayNameFor(model => model.TotalDiscount)
                            </th>
                            <th class="pt-0 pb-0">
                                @Html.DisplayFor(modelItem => @Model.TotalDiscount)
                            </th>
                        </tr>
                        <tr class="table-success">
                            <th class="pt-0 pb-0">
                                @Html.DisplayNameFor(model => model.Payable)
                            </th>
                            <th class="pt-0 pb-0">
                                @Html.DisplayFor(modelItem => @Model.Payable)
                            </th>
                        </tr>
			        </tfoot>

                </table>
            </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("PartialViews/_ValidationScriptsPartial");} 
}
